@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.video {
  // position: absolute;
  width: 100%;
  &__wrapper {
    position: relative;
    width: 100%;
    // padding-top: 56.25%;
    // overflow: hidden;
  }
}
